<!DOCTYPE html>
<html>
    <head><title>Excel Examples</title></head>
    <body>
        <h3>Excel Example - Read Write Examples</h3>
        <ul>
            <li>Write Operation
                <ul>
                    <li>
                        <a href="{% url 'export_excel' %}">Simple Excel Write Operation</a>
                    </li>
                    <li>
                        <a href="{% url 'export_styling_excel' %}">Styling your Excel data with xlwt</a>
                    </li>
                    <li>
                        <a href="{% url 'export_write_xls' %}">writing to existing workbook using xlwt </a>
                    </li>
                </ul>
            </li>
        </ul>
    </body>
</html>